@charset "utf-8";
/* CSS Document */
@font-face {
font-family: MYRIADPRO-REGULAR;
src: url("includes/myriad-pro/MYRIADPRO-REGULAR.otf") format("opentype");
}

body {
	background-image: linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, rgb(255,255,255)),
		color-stop(0.56, rgb(220,235,144)),
		color-stop(0.78, rgb(180,214,44))
	);
	color:#FFFFFF;
	font-family: MYRIADPRO-REGULAR;
	font-size:14px;

}

#content {
	min-height: 700px;
	color: #000000;
	width: 800px;
	margin: 0 auto;
	list-style:none;
	font-size: 16px;
	/* Fallback for web browsers that doesn't support RGBa */
	background-color:rgb(51,153,255);
	/* RGBa with 0.6 opacity */
	background-color:rgba(255,255,255,0.5);
	
}

#logo {
	width:800px;
	height: 30px;
	margin: 0 auto;
	position:relative;
	left: -40px;
	
}

#logo ul{
  width: 100%;
	font-size: 24px;
	text-align: center;
}

#logo li {
	margin-top:0;
	list-style:none;
	display: inline;
}

#nav-bar a {
	color: #FFFFFF;
	text-decoration:none;
}


#name {
	float: left;
}

#search {
	margin-left:0;
	float: right;
}

#nav-bar ul {
	position: relative;
	padding:0px;
  list-style: none;
	margin:0px;
}


#nav-bar li {
	text-align: center;
	background-color: #cc00cc;
  display: inline-block;
	color: #f0f0f0;
  font-size: 20px;
	margin: 0;
	width: 25%;
	float: left;
	padding: 5px 0px;
}

#nav-bar li:hover {
	box-shadow: 0px 0px 5px #CC00FF;
	font-weight: bold;
}

#slider-wrapper {
	position: relative;
	width: 800px;
	height: 330px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
	

#slides {
	margin: 0px;
	padding: 0px;
	/* Fallback for web browsers that doesn't support RGBa */
	background-color:rgb(204,153,51);
	/* RGBa with 0.6 opacity */
	background-color:rgba(204,153,51,0.4);
}

#slides ul{
	margin: 0px;
	padding: 0px;
}

#slides li {
	display: block;
	position: relative;
	left: -650px;
}

#slides img {
	width: 700px;
	height: 330px;
	float:left;
}

#slides img:eq(0){
	box-shadow: -10px 0px 20px #FFFFFF;
}

#slides img:eq(2){
	box-shadow: 10px 0px 20px #FFFFFF;
}


.arrows {
	z-index:50;
	position: absolute;
	background:#999999;
	opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.arrows :hover{
	box-shadow: 0px 0px 10px #FFFFFF;
	opacity: 1;
}

.arrows img {
	width: 50px;
	height: 330px;
	margin: 0;
}

#left-arrow {
  left:0px;
}

#right-arrow {
  right:0px;
	
}

.tiles {
	overflow:hidden;
	width: 800px;
	width: 100%;
}


.tile {
	float: left;
	display:inline-block;
	height: 150px;
	text-align:center;	
	position: relative;
}

.inner-content {
	display: none;
}

.focus{
	border: 1px solid #FF0000;
	background: #FFFFCC;
}

h1 {
	text-align: center;
	width:100%;
}

#form1 {
	position:relative;
	left: 5%;
}

#form1 p{
	font-weight:bold;
}

#footer {
	text-align: center;
	color: #999;
	position: absolute;
	margin-bottom: 0px;
	width: 100%;
	
}

#footer li {
	list-style:none;
}