@charset "utf-8";
/* CSS Document */
/*@font-face {
font-family: MYRIADPRO-REGULAR;
src: url("includes/myriad-pro/MYRIADPRO-REGULAR.otf") format("opentype");
}*/

body {
	background-image: linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, rgb(255,255,255)),
		color-stop(0.56, rgb(220,235,144)),
		color-stop(0.78, rgb(180,214,44))
	);
	background-attachment: fixed;
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 87.5%;
	width: 1200px;
	margin: 0 auto;
	text-align: left;
}

body p {
	margin: 0;
	pardding: 0;

}

a {
	text-decoration:none;
}

select {
	height: 20px;
}

#logo {
	height: 30px;
	font-size: 24px;
}

#logo ul {
	list-style:none;
  padding-left:0;
}

#logo ul li {
	list-style:none;
	display: inline;
}

#name{
	float: left;
}

#search{
	float: right;
}


/* Mask for background, by default is not display */
#mask {
    display: none;
    background: rgba(153,153,153,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}


.login-popup {
    display: none;
    background: #b4d62c;
    padding: 10px;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999;
  
}

img.btn_close {
		float: right;
    margin: -25px -25px 0 0;
}

fieldset {
    border: none;
}

form.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}

form.signin .textbox span {
    display: block;
		font-size: 16px;
}

form.signin p, form.signin span {
    color: rgba(255,255,255,1);
    font-size: 11px;
    line-height: 18px;
}

form.signin .textbox input {
    background: #FFFFFF;
    border: 1px solid rgba(255,255,255,1);
    color: rgba(0,0,0,1);
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 200px;
}

.styled_select {
	 /* border: 0 !important;.  /*Removes border*'/
    -webkit-appearance: none;  /*Removes default chrome and safari style*'/
    -moz-appearance: none;  /*Removes default style Firefox*'/
 	  background: url('../images/dropdown_arrow.png')  no-repeat;
		background-position: 104px;
		width: 120px;*/
}

.button {
    background: rgba(0,153,255,0.6);
		border-color: #FFF;
    border-width: 1px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font: 12px;
		height:30px;
    width: 214px;
}

.s-button {
    background: rgba(0,153,255,0.6);
    border-width: 0;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font: 12px;
    width: 150px;
		height: 20px;
}

.button:hover, .s-button:hover {
    background: rgba(0,153,255,1);
}


/*Speicfy the input font to make password box and text box the same width*/
input {
  font-family: sans-serif;     
	height: 20px;           
}

#content {
	min-height: 650px;
	color: #000000;
	font-size: 16px;
	/* Fallback for web browsers that doesn't support RGBa */
	background-color:rgb(51,153,255);
	/* RGBa with 0.6 opacity */
	background-color:rgba(255,255,255,0.5);
	
}


#mainHeader nav {
	height: 40px;
	background-color: #cc00cc;
	margin-bottom: 1px;
}

#mainHeader > ul {
  list-style: none;
	padding-left: 0;
	margin: 0px;
	clear: both;
}

#mainHeader nav > ul  li {
	text-align: center;
	color: #f0f0f0;
  display: inline;
	float: left;

}

#mainHeader a {
	color: #FFFFFF;
}

#mainHeader nav  a:link, a:visited {
	font-size: 20px;
	padding: 8px 25px;
	display: inline-block;
}

#mainHeader nav a:hover, nav a:active {
	color: rgba(153,204,255,1);
	font-weight: 200;
	
}

#mainHeader nav a:hover, nav a:active {
	background-color:rgba(204,102,204,1);
}

.sign_in_bar{
	float: right;
}



/* For content in the container */
.error {
	margin: 20px auto;
	width:800px;
	text-align: center;
	background:rgba(204,204,204,0.5); 
	border-radius: 10px;
}

.content_header {
	margin: 0px 20px;
	font-size: 20px;
	background:rgba(204,204,204,0.5); 
	border-radius: 10px;
}

.error .content_header {
	text-align: left;
	margin: 0;
	color: rgba(255,0,0,1);
}

.error .content_error, .content_text {
	text-align: left;
}

.content_text {
	margin: 0px 16px;
}

.content_error {
}

.center_header {
	font-size: 26px;
	color:rgba(204,0,204,0.8);
	background-color: rgba(255,255,255,0.4);
	border-radius: 10px;
	text-align: center;
	width: 80%;
	margin: 30px auto;
	padding: 20px 0px;
}

.center_text {
	font-size: 16px;
	color:rgba(204,0,204,0.8);
	background-color: rgba(255,255,255,0.4);
	border-radius: 10px;
	text-align: center;
	width: 80%;
	margin: 30px auto;
	padding: 20px 0px;
}

/*CSS script for index.php*/

#slider-wrapper {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	margin-bottom: 1px;
	padding: 0px;
	float: left;
}
	
#slides {
	margin: 0px;
	padding: 0px;
	/* Fallback for web browsers that doesn't support RGBa */
	background-color:rgb(204,153,51);
	/* RGBa with 0.6 opacity */
	background-color:rgba(204,153,51,0.4);
}

#slides ul{
	margin: 0px;
	padding: 0px;
}

#slides li {
	display: block;
	position: relative;
}

#slides img {
	width: 100%;
}

#slides img:eq(0){
	box-shadow: -10px 0px 20px #FFFFFF;
}

#slides img:eq(2){
	box-shadow: 10px 0px 20px #FFFFFF;
}


.arrows {
	z-index:50;
	position: absolute;
	background:#999999;
	opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.arrows :hover{
	box-shadow: 0px 0px 10px #FFFFFF;
	opacity: 1;
}

.arrows img {
	width: 50px;
	
}

#left-arrow {
	margin-top: 15%;
  left:0px;
}

#right-arrow {
	margin-top: 15%;
  right:0px;
	
}



/*After user logged in */
#signed-in-text {
	font-size: 20px;
	padding: 8px 0px;
}

.tiles {
	position: relative;
	overflow:hidden;
	width: 100%;
}


.tile {
	width: 33.25%;
	height: auto;
	float: left;
	display:inline-block;
	min-height: 200px;
	text-align:center;	
	position: relative;
}


.tile > p{
	margin: 5px;
	font-weight: bold;
	font-size: 20px;
  color :rgba(255,255,255,1);
	text-align: left;
}

.inner-content {
	display: none;
}

.inner-content :hover {

}

/* for text area */
.focus{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: #FFFFCC;
}

h1 {
	text-align: center;
	width:100%;
}


/*CSS script for form*/
.form {
	width: 600px;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0.4);
	border-radius: 10px;
}

.form label, .form input {
	display: block;
	width: 220px;
	float: left;
	margin-bottom: 10px;
}

.form label {
	text-align: right;
	padding-right: 20px;
}
 
br {
  clear: left;
}
	
.form table {
	background-color: rgba(255,255,255,0.4);
}

.form td {
	padding: 10px;
}

.form p {
	text-align: left;
	margin: 5px 0;
}

.form .button {
	width:50%;
	margin-left: auto;
	margin-right: auto;
}
	




/*CSS script for footer.php*/
#footer {
	text-align: center;
	color: #3366FF;
	width: 100%;
	background-color: #CCCCCC;

	
}

#footer ul {
	list-style:none;
	padding-left: 0;
}

#footer li {
	list-style:none;
	padding-left: 0;
}




/*CSS script for search.php*/
#search_background_image {
	width: 100%;
}

#search_wrapper{
	left: 0px;
	position: relative;
	top: 60%;
	margin: 1px 0;
}

#search_wrapper > div { 
	display: inline;
}

#keyword_wrap {
	margin: 0px 2px;
}

.no_data {
	text-align:center;
	background-color: rgba(0,204,51,0.1);
	padding: 10px 0px;;
	width: 100%;
	font: "Times New Roman", Times, serif;
	font-size:24px;
	border-radius: 10px;
}



/*add a product button*/
#add_p {
	float: right;
}


/*CSS script for view-specific.php*/
#view-specific-detail {
	display:block;
	/*this top attr is to remove the gap between the nab-bar and the content due to the  floating problem*/
	position: relative;
}
#view-specific-image img {
	float:left;
	width: 40%;
	height: 350px;
	background-color:rgba(255,255,255,1)
}

#view-specific-info {
	float:right;
	width: 60%;
	height: 350px;
	font-weight:bold;
	background-color: rgba(255,255,255,1);
}

#view-specific-info >p[class='title']{
	margin: 0;
	padding: 2px;
	color: #FFFFFF;
	background-color: rgba(0,102,255,0.6);
}

#view-specific-info >p[class='info']{
	margin: 0;
	padding: 3px 15px;
	background-color: rgba(255,255,255,1);
}

#view-specific-table {
	border-collapse:collapse;
	border: rgba(255,255,255,1) 1px solid;
	text-align:center;
	width: 100%;
}

/*Pie chart*/
#piechart_3d {
	overflow: hidden;
	width: 100%;
	height: 330px;
}


/*------------------------------------Sign_up_form-------------------------------------*/
#user_sign_up {
	margin-left: 20px;
}




@media screen and (min-width: 751px) and (max-width: 1049px)
{
	body {
		width: 95%;
	}
	#slider-wrapper {
		width: 100%;
		max-height: 422px;;
		float: none;
	}
		

	#slides li {
		display: block;
		position: relative;
	}
	
	#slides img {
		width: 100%;
		height: 100%;
	}
	
	#slides img:eq(0){
		box-shadow: -10px 0px 20px #FFFFFF;
	}
	
	#slides img:eq(2){
		box-shadow: 10px 0px 20px #FFFFFF;
	}
	
	
	.arrows {
		z-index:50;
		position: absolute;
		background:#999999;
		opacity:0.4;
		filter:alpha(opacity=40); /* For IE8 and earlier */
	}
	
	.arrows :hover{
		box-shadow: 0px 0px 10px #FFFFFF;
		opacity: 1;
	}
	
	.arrows img {
		width: 50px;
		height: 500px;
		height: 100%;
		margin: 0;
	}
	
	#left-arrow {
		left:0px;
	}
	
	#right-arrow {
		right:0px;
		
	}
	
	
	.members-info {
		text-align: left;
	}	
	.members-login {
		width: 90px;
		
	}

	#sign-in {
		width: 100%;
		overflow: visible;
		min-height: 30px;
	}
	
	#sign-in-text {
		position: static;
	}
	
	#slider-wrapper {
	 width: 100%;
	
	}
	
	.members-info {
		width: 32%;
		display: inline;
	}
	
	#slides li {
		max-width: 100%;
		max-height: 100%;
	}
	


	.tile {
		width: 50%;
	}
	
	.tile:nth-child(1) {
		background-color: #CCCC00;
	}
	
	.tile:nth-child(2) {
		background-color: #FF9933;
	}
	.tile:nth-child(3) {
		background-color: #FF9933;
	}
	.tile:nth-child(4) {
		background-color: #CCCC00;
	}
	.tile:nth-child(5) {
		background-color: #CCCC00;
	}
	.tile:nth-child(6) {
		background-color: #FF9933;
	}
	
	

	
	
	
}
		
	


@media screen and (min-width: 150px) and (max-width: 750px)
{
	body{
		width: 100%;
	}
	
	#mainHeader nav {
		height: 80px;
	}

	
	#mainHeader nav ul li {
		width: 50%;
		display: inline-block;
	}
	
	#mainHeader a {
		display: block;
		color: #FFFFFF;
	}
	
	#mainHeader nav a:link, a:visited {
		display: inline-block;
	}
	
	#mainHeader nav li:hover, nav li:active {
		color: rgba(153,204,255,1);
		font-weight: 200;
		
	}
	
	.active {
		background-color: rgba(204,102,204,1);
	}
	
	#mainHeader nav li:hover, nav li:active,
	#mainHeader .active li:link, li:visited{
		background-color:rgba(204,102,204,1);
	}

	#slider-wrapper {
		width: 100%;
		height: auto;
	}
	
	#sign-in {
		width: 100%;
		overflow: visible;
		min-height: 60px;
		float: left;
	}
	
	#sign-in-text {
		position: static;
	}
	
	.members-info {
		width: 50%;
		float: left;
		text-align: left;
	}
	
	.members-login{
		float: right;
	}
	
	#sign-in p, input {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	
	#slides img {
		clear: both;
		width: 100%;
	}
	
	.arrows img {
		width: 25px;
		max-height: 100%;
		margin: 0;
	}
	
	.tiles {
		position: relative;
		overflow:hidden;
		width: 100%;
	}
	
	
	.tile {
		width: 100%;
		min-height: 100px;
	}
	
	.tile > p{
		margin: 5px;
		font-weight: bold;
		font-size: 16px;;
		text-align: center;
	}
	
	.inner-content {
		display: inline;
	}
	
	
	#view-specific-image  {
		width: 100%;
		height: auto;
	}
	
	#view-specific-info {
		width: 100%;
		height: auto;
	}

	/*Search.php */

	#search_wrapper > div {
		
		display:block;
	}
	
	/*CSS script for view-specific.php*/
	#view-specific-detail {
		display:block;
		/*this top attr is to remove the gap between the nab-bar and the content due to the  floating problem*/
		position: relative;
	}
	#view-specific-image  {
		height: 100%;
		display: block;
	}
	
	#view-specific-info {
		position:static;
		float:right;
		width: 50%;
		height: auto;
		font-weight:bold;
		background-color: rgba(255,255,255,1);
	}
	
	#view-specific-info >p[class='title']{
		margin: 0;
		padding: 1px;
		height: 25px;
		color: #CCCCCC;
		background-color: rgba(0,102,255,0.6);
	}
	
	#view-specific-info >p[class='info']{
		margin: 0;
		padding: 3px 15px;
		background-color: rgba(255,255,255,1);
	}
	
	#view-specific-table {
		border-collapse:collapse;
		text-align:center;
		width: 100%;
	}
	
	#piechart_3d {
		overflow: auto;
		width: 100%;
		
	}

	
}