@charset "utf-8";
/* CSS Document */
/*@font-face {
font-family: MYRIADPRO-REGULAR;
src: url("includes/myriad-pro/MYRIADPRO-REGULAR.otf") format("opentype");
}*/

body {
	background-image: linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 12%, rgb(220,235,144) 56%, rgb(180,214,44) 78%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, rgb(255,255,255)),
		color-stop(0.56, rgb(220,235,144)),
		color-stop(0.78, rgb(180,214,44))
	);
	color:#FFFFFF;
	font-family: Arial, 'Lucida Sans Unicode';
	font-size: 87.5%;
	width:70%;
	margin: 0 auto;
	text-align: left;
}

a {
	text-decoration:none;
}

#logo {
	height: 30px;
	font-size: 24px;
}

#logo ul {
	list-style:none;
  padding-left:0;
}

#logo ul li {
	list-style:none;
	display: inline;
}

#name{
	float: left;
}

#search{
	float: right;
}



#content {
	min-height: 700px;
	color: #000000;
	font-size: 16px;
	/* Fallback for web browsers that doesn't support RGBa */
	background-color:rgb(51,153,255);
	/* RGBa with 0.6 opacity */
	background-color:rgba(255,255,255,0.5);
	
}


#mainHeader nav {
	height: 40px;
	background-color: #cc00cc;
}

#mainHeader ul {
  list-style: none;
	padding-left: 0;
	margin: 0px;
	clear: both;
}

#mainHeader nav ul li {
	text-align: center;
	color: #f0f0f0;
  display: inline;
	float: left;

}

#mainHeader a {
	color: #FFFFFF;
}

#mainHeader nav a:link, a:visited {
	font-size: 20px;
	padding: 8px 25px;
	display: inline-block;
}

#mainHeader nav a:hover, nav a:active {
	color: rgba(153,204,255,1);
	font-weight: 200;
	
}

#mainHeader nav a:hover, nav a:active,
#mainHeader .active a:link, a:visited{
	background-color:rgba(204,102,204,1);
}






/*CSS script for index.php*/

#slider-wrapper {
	width: 70%;
	position: relative;
	height: 330px;
	overflow: hidden;
	margin: 1px 0px;
	padding: 0px;
}
	




#slides {
	margin: 0px;
	padding: 0px;
	/* Fallback for web browsers that doesn't support RGBa */
	background-color:rgb(204,153,51);
	/* RGBa with 0.6 opacity */
	background-color:rgba(204,153,51,0.4);
}

#slides ul{
	margin: 0px;
	padding: 0px;
}

#slides li {
	display: block;
	position: relative;
	left: -650px;
}

#slides img {
	width: 700px;
	height: 330px;
	float:left;
}

#slides img:eq(0){
	box-shadow: -10px 0px 20px #FFFFFF;
}

#slides img:eq(2){
	box-shadow: 10px 0px 20px #FFFFFF;
}


.arrows {
	z-index:50;
	position: absolute;
	background:#999999;
	opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.arrows :hover{
	box-shadow: 0px 0px 10px #FFFFFF;
	opacity: 1;
}

.arrows img {
	width: 50px;
	height: 330px;
	margin: 0;
}

#left-arrow {
  left:0px;
}

#right-arrow {
  right:0px;
	
}

.tiles {
	position: relative;
	overflow:hidden;
	width: 100%;
}


.tile {
	width: 33%;
	height: auto;
	float: left;
	display:inline-block;
	height: 150px;
	text-align:center;	
	position: relative;
}

.tile > p{
	margin: 5px;
	font-weight: bold;
	font-size: 20px;
	text-align: left;
}

.inner-content {
	display: none;
}

.focus{
	border: 1px solid #FF0000;
	background: #FFFFCC;
}

h1 {
	text-align: center;
	width:100%;
}


/*CSS script for add.php*/
#form1 {
	position:relative;
	left: 5%;
}

#form1 p{
	font-weight:bold;
}

#footer {
	text-align: center;
	color: #999;
	position: absolute;
	margin-bottom: 0px;
	width: 100%;
	
}

#footer li {
	list-style:none;
}




/*CSS script for search.php*/
#search_background_image {
	background-image:url(../images/recycle_its_easy.jpg);
	background-size: 800px auto;
	height: 330px;
}

#search_wrapper{
	left: 0px;
	position: relative;
	top: 60%;
}

#search_wrapper > div { 
	display: inline;
}




/*add a product button*/
#add_p {
	float: right;
}


/*CSS script for view-specific.php*/
#view-specific-detail {
	display:block;
	/*this top attr is to remove the gap between the nab-bar and the content due to the  floating problem*/
	top: -3px;
	position: relative;
}
#view-specific-image  {
	float:left;
	width: 400px;
	height: 400px;
	background-color:rgba(255,255,255,1)
}

#view-specific-info {
	position:static;
	float:right;
	width: 398px;
	height: 398px;
	font-weight:bold;
	border: 1px solid rgba(0,153,255,1);
	background-color: rgba(255,255,255,1);
}

#view-specific-info >p[class='title']{
	margin: 0;
	padding: 1px;
	height: 25px;
	background-color: rgba(0,102,255,0.6);
}

#view-specific-info >p[class='info']{
	margin: 0;
	padding: 3px 15px;
	background-color: rgba(255,255,255,1);
}

#view-specific-table {
	border-collapse:collapse;
	text-align:center;
	width: 100%;
}

/*Pie chart*/
#piechart_3d {
	overflow: hidden;
}